DATABASE_URL="mongodb+srv://admin:admin@blogapi.6ydneko.mongodb.net/?appName=BlogAPI"
JWT_SECRET="4gFk^2-4]DrX8xEjvis{GMm[tM3W(y"

mongodb+srv://lucasbritocientista_db_user:L5E8hOnufk0XU34R@blogapi.iip9xrq.mongodb.net/?appName=BlogAPI